@model Delivery.Models.NhanVien

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" style="background-color: #F2F2F2; padding: 50px; margin: auto">
        <div class="form-horizontal" style="background-color: white; padding: 30px; border-radius: 1rem">
            <h4>Thêm nhân viên</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.DisplayName("Họ tên")
                <div class="col-md-6">
                    @Html.EditorFor(model => model.TenNhanVien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenNhanVien, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.DisplayName("Ngày sinh")
                <div class="col-md-6">
                    @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.DisplayName("Email")
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.DisplayName("Số điện thoại")
                <div class="col-md-6">
                    @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                @Html.ActionLink("Hủy", "Index", "NhanVien", new { @class = "btn btn-outline-success" })
                <input type="submit" value="Thêm" class="btn btn-success" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
