@model Delivery.Models.NhanVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.TenTaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.TenTaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucVu.TenChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu.TenChucVu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNhanVien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
