@model IEnumerable<Delivery.Models.TaiKhoan_TimKiem_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm())
{
    <div class="container" style="background-color: #F2F2F2; padding: 50px;">
        <div class="form-horizontal" style="background-color: white; padding: 30px; border-radius: 1rem">
            <h4>Người dùng hệ thống</h4>
            <hr />
            <div class="d-flex justify-content-around">
                <div class="col mb-3">
                    <label for="" class="form-label">Tên tài khoản </label>
                    <input type="text" class="form-control" id="" value="" name="tenTK" placeholder="" />
                </div>
                <div class="col mb-3">
                    <label for="" class="form-label">Họ tên</label>
                    <input type="text" class="form-control" value="" name="hoten" />
                </div>
                <div class="col mb-3">
                    <label for="" class="form-label">Loại tài khoản</label>
                    <input type="text" class="form-control" value="" name="loaiTK" />
                </div>
            </div>
            <hr />
            <div class="d-flex justify-content-between">
                @Html.ActionLink("+ Thêm tài khoản", "Create", "TaiKhoan", new { @class = "btn btn-success", @style = "border-radius: 1.5rem" })
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    @Html.ActionLink("Reset", "Index", "TaiKhoan", new { @class = "btn btn-outline-success", @style = "border-radius: 1.5rem;  width: 100px;" })
                    <input type="submit" value="Search" class="btn btn-success" style="border-radius: 1.5rem; width: 100px; " />
                </div>
            </div>
        </div>

        <div class="form-horizontal" style="background-color: white; padding: 30px; border-radius: 1rem; margin-top: 20px;">
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayName("Tên Tài Khoản")
                    </th>
                    <th>
                        @Html.DisplayName("Họ tên")
                    </th>
                    <th>
                        @Html.DisplayName("Loại tài khoản")
                    </th>
                    <th>
                        @Html.DisplayName("Reset password")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.TenTaiKhoan)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.TenNhanVien)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.LoaiTaiKhoan)
                        </td>
                        <td>
                            <a style="text-decoration: none; color: black; margin-left: 25%;" href="@Url.Action("Reset", "TaiKhoan", new { id = item.MaNhanVien })">
                                <i class="fas fa-sync-alt"></i>
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}