@model IEnumerable<Delivery.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tên Tài Khoản", "Index", new { sortOrder = ViewBag.NameSortParm }, new {@class = "text-dark text-decoration-none"})
            @*@Html.DisplayNameFor(model => model.TenTaiKhoan)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.TenNhanVien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenTaiKhoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.TenNhanVien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNhanVien }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNhanVien }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNhanVien })
        </td>
    </tr>
}

</table>
